@page "/obdisplay"
@using ElginEnergy.DataModels;
@using ElginEnergy.UI.Services;

@inject IOrderBooksService _orderbookService;


<div class="row">
    <div class="column">
        <h1 style="color:darkgoldenrod; font-family:'Times New Roman', Times, serif; font-weight:bolder; border:4px solid powderblue; text-align:center">
            Elgin Energy Test Application
        </h1>
    </div>
</div>

@* <div class="container">
    <img src="/images/Image6.jpg" />
</div> *@

<br />

<div class="row">
    <div class="col-md-6">
        <a href='/obadd' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Order Books Add List
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search user by name"
        @bind="SearchString" @bind:event="oninput" @onkeyup="FilterUser" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>

<br />

@if (orderbooks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Period (Hrs)</th>
                <th>Trading Day</th>
                <th>Quantity</th>
                <th>Price (Euro)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ob in orderbooks)
            {
                <tr>
                    <td>@ob.Period</td>
                    <td>@ob.TradingDay</td>
                    <td>@ob.Quantity</td>
                    <td>@ob.Price</td>
@*                     <td>
                        <a href='/orderbooks/delobooks/@ob.Period' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td> *@
                </tr>
            }
        </tbody>

    </table>
}
