<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ElginEnergy.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="obdisplay">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Display OBooks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="obadd">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add OBooks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="obupdate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Update OBook
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="obdel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Delete OBook
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
